.body-form {
  background-image: url(../../../../assets/image.png);
  background-size: cover; /* Faz a imagem cobrir toda a área */
  background-repeat: no-repeat; /* Evita que a imagem se repita */
  background-attachment: fixed; /* Faz com que a imagem fique fixa */
  background-position: center; /* Centraliza a imagem */
  height: 100vh; /* Define a altura para ocupar a tela inteira */
}
