.body-form {
  background-image: url(../../../../assets/image.png);
  background-size: cover; /* Faz a imagem cobrir toda a área */
  background-repeat: no-repeat; /* Evita que a imagem se repita */
  background-attachment: fixed; /* Faz com que a imagem fique fixa */
  background-position: center; /* Centraliza a imagem */
  height: 100vh; /* Define a altura para ocupar a tela inteira */
}
@media screen and (min-width: 992px) {
  /* Applies to desktops and larger screens */
  .form-check {
    width: 120px; /* Ajuste a largura para o tamanho desejado */
  }

  .form-check-input {
    width: 50px;
    height: 50px;
  }

  .form-check-label {
    white-space: nowrap; /* Evitar quebra de linha */
    margin-left: 5px;
  }

  .checkbox-container {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
  }

  .checkbox-container .form-check {
    display: flex;
    align-items: center;
    margin-right: 15px;
    min-width: 100px; /* Ensures each label takes up enough space */
  }

  .checkbox-container .form-check-label {
    margin-left: 8px; /* Space between checkbox and label */
  }

  .checkbox-container input[type="checkbox"] {
    width: 25px;
    height: 25px;
  }
}
