<div class="body-form">
  <div class="container-fluid w-100 h-100">
    <div class="row w-100 h-100">
      <div class="col-1 col-md-2 col-xl-3"></div>
      <div class="col-10 col-md-8 col-xl-6">
        <div
          class="d-flex flex-column align-items-center justify-content-center text-center gap-3 mt-5 "
        >
          <h2 class="mb-5 text-black">
            Selecione a intensidade para cada região que sentir dor:
          </h2>

          @for (region of selectedRegions; track $index) {
          <div
            class="d-flex flex-column text-start gap-1 rounded p-3 mb-3 
            flex-md-row align-md-items-center justify-content-md-around gap-md-3 w-100 
            options-container" 
            style="background-color: #6b705c"
          >
            <span class="text-white">
              {{ region }}:
            </span>
            <div class="checkbox-container d-flex flex-column gap-3 ps-1 pt-1
            gap-md-5 flex-md-row pt-md-0 ps-md-0  ">
              <div class="form-check ">
                <input
                  class="form-check-input"
                  type="checkbox"
                  [id]="'leve-' + region"
                  (change)="onCheckboxChange($event, region, 'leve')"
                  [checked]="selectedCheckbox[region] === 'leve'"
                />
                <label
                  class="form-check-label text-white"
                  [for]="'leve-' + region"
                  >Leve</label
                >
              </div>
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="checkbox"
                  [id]="'moderada-' + region"
                  (change)="onCheckboxChange($event, region, 'moderada')"
                  [checked]="selectedCheckbox[region] === 'moderada'"
                />
                <label
                  class="form-check-label text-white"
                  [for]="'moderada-' + region"
                  >Moderada</label
                >
              </div>
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="checkbox"
                  [id]="'intensa-' + region"
                  (change)="onCheckboxChange($event, region, 'intensa')"
                  [checked]="selectedCheckbox[region] === 'intensa'"
                />
                <label
                  class="form-check-label text-white"
                  [for]="'intensa-' + region"
                  >Intensa</label
                >
              </div>
            </div>
          </div>
        }
          <!-- Botão de Enviar -->
          <button
            type="button"
            class="btn btn-dark mt-3 mb-5"
            (click)="submitSelection()"
          >
            ENVIAR
          </button>
        </div>
      </div>
      <div class="col-1 col-md-2 col-xl-3"></div>
    </div>
  </div>
</div>
