<div class="body-form">
  <div class="container">
    <div
      class="d-flex flex-column align-items-center justify-content-center text-center mb-5"
    >
      <h2 class="mb-4">
        Selecione a intensidade para cada região que sentir dor:
      </h2>

      <!-- Seção de Intensidade: Cervical -->
      <div
        class="p-3 mb-3 rounded d-flex align-items-center justify-content-between"
        style="background-color: #6b705c; width: 70%"
      >
        <span class="text-white">Cervical:</span>
        <div class="d-flex align-items-center">
          <div class="form-check mx-2">
            <input
              class="form-check-input"
              type="checkbox"
              id="leve-cervical"
            />
            <label class="form-check-label text-white" for="leve-cervical"
              >Leve</label
            >
          </div>
          <div class="form-check mx-2">
            <input
              class="form-check-input"
              type="checkbox"
              id="moderada-cervical"
            />
            <label class="form-check-label text-white" for="moderada-cervical"
              >Moderada</label
            >
          </div>
          <div class="form-check mx-2">
            <input
              class="form-check-input"
              type="checkbox"
              id="intensa-cervical"
            />
            <label class="form-check-label text-white" for="intensa-cervical"
              >Intensa</label
            >
          </div>
        </div>
      </div>

      <!-- Seção de Intensidade: Ombro -->
      <div
        class="p-3 mb-3 rounded d-flex align-items-center justify-content-between"
        style="background-color: #6b705c; width: 70%"
      >
        <span class="text-white">Ombro:</span>
        <div class="d-flex align-items-center">
          <div class="form-check mx-2">
            <input class="form-check-input" type="checkbox" id="leve-ombro" />
            <label class="form-check-label text-white" for="leve-ombro"
              >Leve</label
            >
          </div>
          <div class="form-check mx-2">
            <input
              class="form-check-input"
              type="checkbox"
              id="moderada-ombro"
            />
            <label class="form-check-label text-white" for="moderada-ombro"
              >Moderada</label
            >
          </div>
          <div class="form-check mx-2">
            <input
              class="form-check-input"
              type="checkbox"
              id="intensa-ombro"
            />
            <label class="form-check-label text-white" for="intensa-ombro"
              >Intensa</label
            >
          </div>
        </div>
      </div>

      <!-- Seção de Intensidade: Lombar -->
      <div
        class="p-3 mb-3 rounded d-flex align-items-center justify-content-between"
        style="background-color: #6b705c; width: 70%"
      >
        <span class="text-white">Lombar:</span>
        <div class="d-flex align-items-center">
          <div class="form-check mx-2">
            <input class="form-check-input" type="checkbox" id="leve-lombar" />
            <label class="form-check-label text-white" for="leve-lombar"
              >Leve</label
            >
          </div>
          <div class="form-check mx-2">
            <input
              class="form-check-input"
              type="checkbox"
              id="moderada-lombar"
            />
            <label class="form-check-label text-white" for="moderada-lombar"
              >Moderada</label
            >
          </div>
          <div class="form-check mx-2">
            <input
              class="form-check-input"
              type="checkbox"
              id="intensa-lombar"
            />
            <label class="form-check-label text-white" for="intensa-lombar"
              >Intensa</label
            >
          </div>
        </div>
      </div>

      <!-- Seção de Intensidade: Joelho -->
      <div
        class="p-3 mb-3 rounded d-flex align-items-center justify-content-between"
        style="background-color: #6b705c; width: 70%"
      >
        <span class="text-white">Joelho:</span>
        <div class="d-flex align-items-center">
          <div class="form-check mx-2">
            <input class="form-check-input" type="checkbox" id="leve-joelho" />
            <label class="form-check-label text-white" for="leve-joelho"
              >Leve</label
            >
          </div>
          <div class="form-check mx-2">
            <input
              class="form-check-input"
              type="checkbox"
              id="moderada-joelho"
            />
            <label class="form-check-label text-white" for="moderada-joelho"
              >Moderada</label
            >
          </div>
          <div class="form-check mx-2">
            <input
              class="form-check-input"
              type="checkbox"
              id="intensa-joelho"
            />
            <label class="form-check-label text-white" for="intensa-joelho"
              >Intensa</label
            >
          </div>
        </div>
      </div>

      <!-- Seção de Intensidade: Tornozelo -->
      <div
        class="p-3 mb-3 rounded d-flex align-items-center justify-content-between"
        style="background-color: #6b705c; width: 70%"
      >
        <span class="text-white">Tornozelo:</span>
        <div class="d-flex align-items-center">
          <div class="form-check mx-2">
            <input
              class="form-check-input"
              type="checkbox"
              id="leve-tornozelo"
            />
            <label class="form-check-label text-white" for="leve-tornozelo"
              >Leve</label
            >
          </div>
          <div class="form-check mx-2">
            <input
              class="form-check-input"
              type="checkbox"
              id="moderada-tornozelo"
            />
            <label class="form-check-label text-white" for="moderada-tornozelo"
              >Moderada</label
            >
          </div>
          <div class="form-check mx-2">
            <input
              class="form-check-input"
              type="checkbox"
              id="intensa-tornozelo"
            />
            <label class="form-check-label text-white" for="intensa-tornozelo"
              >Intensa</label
            >
          </div>
        </div>
      </div>

      <!-- Seção de Intensidade: Quadril -->
      <div
        class="p-3 mb-3 rounded d-flex align-items-center justify-content-between"
        style="background-color: #6b705c; width: 70%"
      >
        <span class="text-white">Quadril:</span>
        <div class="d-flex align-items-center">
          <div class="form-check mx-2">
            <input class="form-check-input" type="checkbox" id="leve-quadril" />
            <label class="form-check-label text-white" for="leve-quadril"
              >Leve</label
            >
          </div>
          <div class="form-check mx-2">
            <input
              class="form-check-input"
              type="checkbox"
              id="moderada-quadril"
            />
            <label class="form-check-label text-white" for="moderada-quadril"
              >Moderada</label
            >
          </div>
          <div class="form-check mx-2">
            <input
              class="form-check-input"
              type="checkbox"
              id="intensa-quadril"
            />
            <label class="form-check-label text-white" for="intensa-quadril"
              >Intensa</label
            >
          </div>
        </div>
      </div>

      <!-- Botão de Enviar -->
      <button type="button" class="btn btn-dark mt-3">ENVIAR</button>
    </div>
  </div>
</div>
