.body-form {
  background-image: url(../../../../assets/image.png);
  background-size: cover; /* Faz a imagem cobrir toda a área */
  background-repeat: no-repeat; /* Evita que a imagem se repita */
  background-attachment: fixed; /* Faz com que a imagem fique fixa */
  background-position: center; /* Centraliza a imagem */
  min-height:  100vh; /* Define a altura para ocupar a tela inteira */
}

// p/ ajustar a flechinha do checkbox xD
.form-check-input[type="checkbox"]:checked::after {
  border-width: 0.19rem;
    border-top-width: 0.19rem;
    border-left-width: 0.19rem;
  width: 0.6rem;
  height: 1.2rem;
}


.form-check-input {
  width: 50px;
  height: 50px;
}
.form-check-label {
  white-space: nowrap; 
  margin-top: 0.1rem;
}

.checkbox-container .form-check {
  display: flex;
  align-items: center;
  margin-bottom: 0;
}

.checkbox-container input[type="checkbox"] {
  width: 25px;
  height: 25px;
}
.options-container{
  font-size: 20px;
  padding: 0.7rem;
}
.btn{
  font-size: 16px;
  width: 13rem;
  
}

.btn:hover{animation: heartBeat;
  animation-duration: 2s;}
