<div class="container-fluid h-100 background ">
  <div class="row">
    <div class="col-3"></div>
    <div class="col-6 d-grid justify-content-center my-5">
      <div class="card d-flex container-principal">
        <div class="d-flex justify-content-center" id="logo">
          <img src="../../../assets/img/logo.png" alt="logo" id="logo" />
        </div>
        <h3 class="d-flex card-title align-items-center">
          Entre com a sua conta do Google
        </h3>
        <div
          class="google-signin d-flex justify-content-center mt-3"
          id="button-google"
        >
          <asl-google-signin-button
            class="d-flex justify-content-center" style="margin-left: 25%;"
            type="standard"
            size="medium"
            text="continue_with"
            shape="circle"
            logo_alignment="center"
            theme="outline"
            [width]="300"
          >
          </asl-google-signin-button>
          <div class="col-3"></div>
        </div>
      </div>
    </div>
  </div>
</div>
