<header>
  <div class="container-fluid h-100 background">
    <div class="row align-items-center">
      <!-- Logo -->
      <div class="col-12 col-md-3 text-center text-md-start mb-3 mb-md-0">
        <div class="logo">
          <img
            src="../../../../assets/img/logo.png"
            class="w-50 w-md-75 my-0"
            alt=""
          />
        </div>
      </div>
      <!-- Título e Subtítulo -->
      <div class="col-12 col-md-6 text-center">
        <h2 class="titulo-header mb-2">Conheça seu Corpo</h2>
        <p class="p-header m-0">Rotinas de Treino Ajustadas ao Seu Corpo</p>
      </div>
      <div class="col-md-3 d-none d-md-block"></div>
    </div>
  </div>
</header>