<div class="d-flex flex-column main-container justify-content-evenly">
  <h3 class="card-title">Entre com a sua conta Google:</h3>
  <div
    class="google-signin d-flex justify-content-center"
    id="button-google"
  >
    <asl-google-signin-button
      class="d-flex justify-content-center"
      type="standard"
      size="large"
      text="continue_with"
      shape="rectangular"
      logo_alignment="center"
      theme="outline"
      [width]="350"
      data-size="large"
    >
    </asl-google-signin-button>
  </div>
</div>
