<div class="row">
  <div class="col-md-3">
    <img src="../../../../assets/Saude_Ensino.jpeg" alt="" />
  </div>
  <div class="col-md-6">
    <div class="col-md" style="z-index: 2">
      <h1 class="display-4 fw-bold" style="color: 2B1B12">
        Protocolo de Prevenção LER e DORT
      </h1>
      <p class="lead">
        Lorem ipsum, dolor sit amet consectetur adipiscing elit. Esse, ea
        tempora vitae sequi quos et ipsum explicabo, minus illo sit porro
        quaerat, officiis dignissimos molestiae earum quisquam harum maxime
        officia.
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipiscing elit. Ad doloreque
        maxime, a veniam minima id excepturi perferendis.
      </p>
      <button
        mat-raised-button
        color="primary"
        class="btn btn-dark"
        (click)="navigateToForm()"
      >
        COMEÇAR AGORA!
      </button>
    </div>
  </div>
  <div class="col-md-3">
    <img src="../../../../assets/prototip.png" alt="" />
  </div>
</div>
