  <div class="containerr
  position-relative overflow-hidden justify-content-center  ">
    
  <!-- Logo --> 
    <header class="logo-container">
      <div>
        <img class="img-fluid" src="../../../../assets/Saude_Ensino.jpeg" alt="" />
      </div>
      <app-flowers customClass="flower"></app-flowers>
    </header>

    <!-- Content -->
    <main class="main-container  my-5
    px-md-3 ">
      <div class="d-flex flex-column text-center align-items-center gap-3
      text-md-start px-md-0 py-md-5" >
        <!-- title -->
        <p class="title w-100">Protocolo de Prevenção LER e DORT</p>

        <!-- Content -->
        <div class="description-container 
        pb-md-5">
          <span class="description">
            {{description}}
          </span>
        </div>

        <!-- button -->
        <div class="d-md-flex justify-content-md-center pt-md-1">
          <button
            type="button"
            class="fw-normal btn btn-dark btn-start fs-7 rounded-5"
            data-mdb-ripple-init
            (click)="onStart()">
            Começar agora!
          </button>
        </div>

        <img class="img-fluid snake-mobile"  src="../../../../assets/snakee.png" alt="" />
      </div>

    </main>

      <!-- Logo cobra & blob-->
    <aside class="blob-container">
        <div class="blob blob-md 
        position-absolute ">
        <!-- cobrinha -->
        <div class="position-fixed snake-container">
            <img class="img-fluid snake-desktop"  src="../../../../assets/snakee.png" alt="" />
          </div>
        </div>

    </aside>

  </div>
