<div class="table-responsive">
  <table class="table table-bordered">
    <thead class="table-light">
      <tr>
        <th>Id</th>
        <th>Video Url</th>
        <th>Nome</th>
        <th>Descrição</th>
        <th>Repetições</th>
        <th>Intensidade</th>
        <th>Articulação</th>
        <th colspan="2" class="text-center">Ações</th>
      </tr>
    </thead>
    <tbody>
      @for (e of exercises; track $index) {
      <tr>
        <td>{{ e.id }}</td>
        <td>
          <a href="{{ e.videoUrl }}" target="_blank">{{ e.videoUrl }}</a>
        </td>
        <td>{{ e.name }}</td>
        <td>{{ e.description }}</td>
        <td>{{ e.reps }}</td>
        <td>{{ getIntensityPTBR(e.intensity)}}</td>
        <td>{{ getJointPTBR(e.joint)}}</td>
        <td>
          <div class="d-grid">
            <button
              type="button"
              class="btn btn-link btn-rounded btn-sm fw-bold"
              mdbRipple
              rippleColor="dark"
              (click)="edit(e)"
            >
              Edit
            </button>
          </div>
        </td>
        <td>
          <div class="d-grid">
            <button
              type="button"
              class="btn btn-link btn-rounded btn-sm fw-bold"
              mdbRipple
              rippleColor="dark"
              (click)="delete(e.id)"
            >
              Delete
            </button>
         </div>
        </td>
      </tr>
      }
    </tbody>
  </table>
</div>

