<div class="container-fluid h-100 background">
  <div class="row">
    <div class="col-3"></div>
    <div class="col-6 d-grid justify-content-center my-5 w-100 h-100">
      <div class="card background-default-color my-5 p-3">
        <div class="d-md-flex py-5">
          <!-- div da imagem -->
          <div class="d-flex justify-content-center" id="logo">
            <img src="../../../../assets/img/logo.png" alt="logo" id="logo" />
          </div>
          <!-- div do formulario -->
          <div class="d-flex flex-column">
            <h3 class="card-title justify-content-center">
              Preenchimento de Formulário
            </h3>
            <div class="d-flex flex-column justify-content-center gap-1">
              <mdb-form-control>
                <input mdbInput type="text" id="form1" class="form-control" />
                <label mdbLabel class="form-label w-30" for="form1">
                  <i class="fas fa-user p-0"></i>Nome
                </label>
              </mdb-form-control>
              <div class="row">
                <div class="col">
                  <mdb-form-control>
                    <input
                      mdbInput
                      type="date"
                      id="form1"
                      class="form-control"
                    />
                    <label mdbLabel class="form-label" for="form1"
                      >Nascimento</label
                    >
                  </mdb-form-control>
                </div>
                <div class="col">
                  <mdb-form-control>
                    <input
                      mdbInput
                      type="text"
                      id="form1"
                      class="form-control"
                    />
                    <label
                      mdbLabel
                      class="form-label"
                      for="form1"
                      style="width: 100%"
                    >
                      <i class="fas fa-graduation-cap"></i> Turma</label
                    >
                  </mdb-form-control>
                </div>
              </div>
              <mdb-form-control>
                <input mdbInput type="text" id="form1" class="form-control" />
                <label
                  mdbLabel
                  class="form-label"
                  for="form1"
                  style="width: 50%"
                  ><i class="fas fa-book"></i>Disciplina</label
                >
              </mdb-form-control>
            </div>
            <div class="pt-3">
              <a
                href="home"
                class="btn btn-primary d-flex justify-content-between align-items-center"
                id="button-entrar"
              >
                ENTRAR <i class="fa-solid fa-arrow-right mx-0"></i>
              </a>
              <div class="col-3"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
