<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h3>Exercício</h3>

      <br />

      <form [formGroup]="exerciseForm" class="d-flex flex-column gap-3">
        <mdb-form-control>
          <input
            mdbValidate
            mdbInput
            required
            formControlName="name"
            type="text"
            id="name"
            class="form-control"
            name="name"
            [(ngModel)]="exercise.name"
          />
          <label mdbLabel class="form-label" for="name">Nome</label>
          <mdb-error *ngIf="name?.invalid && (name?.dirty || name?.touched)">
            Name is required.
          </mdb-error>
        </mdb-form-control>

        <br />

        <mdb-form-control>
          <input
            mdbValidate
            mdbInput
            required
            formControlName="description"
            type="text"
            id="description"
            class="form-control"
            name="description"
            [(ngModel)]="exercise.description"
          />
          <label mdbLabel class="form-label" for="description"
            >Descrição</label
          >
          <mdb-error *ngIf="description?.invalid && (description?.dirty || description?.touched)">
            Description is required.
          </mdb-error>
        </mdb-form-control>

        <br />

        <mdb-form-control>
          <input
          mdbValidate
            mdbInput
            required
            formControlName="reps"
            type="text"
            id="reps"
            class="form-control"
            name="reps"
            [(ngModel)]="exercise.reps"
          />
          <label mdbLabel class="form-label" for="reps">Repetições</label>
          <mdb-error *ngIf="reps?.invalid && (reps?.dirty || reps?.touched)">
            Reps is required.
          </mdb-error>
        </mdb-form-control>

        <br />

        <mdb-form-control>
          <input
          mdbValidate
            mdbInput
            required
            formControlName="videoUrl"
            type="text"
            id="video-url"
            class="form-control"
            name="video-url"
            [(ngModel)]="exercise.videoUrl"
          />
          <label mdbLabel class="form-label" for="video-url">Video url</label>
          <mdb-error *ngIf="videoUrl?.invalid && (videoUrl?.dirty || videoUrl?.touched)">
            Video URL is required.
          </mdb-error>
        </mdb-form-control>

        <br />

        <div class="d-grid d-md-flex justify-content-md-between">
          <mat-form-field>
            <mat-label>Intensidade</mat-label>
            <mat-select [formControl]="intensityControl" required>
              <mat-option>Selecione a intensidade</mat-option>
              <mat-option *ngFor="let i of intensityOptions" [value]="i.value">
                {{ i.viewValue }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="intensityControl.hasError('required')"
              >Please select an intensity</mat-error
            >
          </mat-form-field>
          <mat-form-field>
            <mat-label>Articulação</mat-label>
            <mat-select [formControl]="jointControl" required>
              <mat-option>Selecione a articulação</mat-option>
              <mat-option *ngFor="let j of jointOptions" [value]="j.value">{{
                j.viewValue
              }}</mat-option>
            </mat-select>
            <mat-error *ngIf="jointControl.hasError('required')"
              >Please select a joint</mat-error
            >
          </mat-form-field>
        </div>

        <button
          mdbRipple
          type="submit"
          class="btn btn-primary btn-block"
          (click)="save()"
        >
          Salvar
        </button>
      </form>

    </div>
  </div>
</div>
