<div class="container">
    <div class="row">
        <div class="col-lg-4"></div>
        <div class="col-lg-4 center top">
            <h4 class="card-title lead mb-4">Login with Google</h4>
            <p class="card-text mb-4">
              Hi, login with your Google account to continue.
            </p>
            <p class="align-self-center bg-light">
              <asl-google-signin-button 
              type='standard' size='medium' text="continue_with" 
              shape="rectangular" logo_alignment="center" theme="outline" 
              [width]="400">
            </asl-google-signin-button>
            </p>
        </div>
        <div class="col-lgg-4"></div>
    </div>
</div>