<div class="container-fluid main-container h-100">
    <div class="row main-row">
      <div class=" col-sm-1"></div>
      <div class="col-12 d-grid justify-content-center h-100 align-content-center
      col-sm-10 ">
      <div class="card main-card">
        <div class="d-md-flex p-4">
          <!-- div da imagem -->
          <div class="d-flex justify-content-center pb-4
          pe-md-3 pb-md-0 align-content">
            <img class="logo"
             src="../../../../assets/saude_ensino.png" alt="logo"/>
          </div>
          <router-outlet></router-outlet>
        </div>
      </div>
      </div>
      <div class="col-sm-1"></div>
    </div>
  </div>
  