.btn-select {
  border-radius: 20px;
  font-size: 18px;
  transition: all 0.3s ease;
  // color: black;
}

.btn-submit{
  font-size: 16px;
  width: 13rem;
}

.btn-submit:hover{
  animation: heartBeat;
  animation-duration: 2s;
}
.body-form {
  background-image: url(../../../../assets/image.png);
  background-size: cover; /* Faz a imagem cobrir toda a área */
  background-repeat: no-repeat; /* Evita que a imagem se repita */
  background-attachment: fixed; /* Faz com que a imagem fique fixa */
  background-position: center; /* Centraliza a imagem */
  height: 100vh; /* Define a altura para ocupar a tela inteira */
}
.btn-active {
  background-color: green !important;
  color: white !important;
  border-radius: 30px;
  box-shadow: 0 0 15px rgba(0, 255, 0, 0.5);
  transition: all 0.3s ease;
}

.logo-container {
  margin-top: 10%;
  width: auto;
  height: auto;

  @media (min-width: 768px) {
    
    width: auto;
    height: auto;
  }

 

  .logo{
    cursor: pointer;
  }
}
